# Turbo cache y logs
.turbo/
.turbo/cache/
.turbo/cookies/
.turbo/daemon/*.log*

# Archivos de compilación y distribución
dist/
out/
.next/
.next/cache/

# Configuraciones locales y credenciales
.env
.env.local
.env.development
.env.production

# Datos temporales o generados
coverage/
data/builds/
data/current/